* {
  margin: 0;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
body header > section {
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex {
  display: flex;
}
nav {
  max-width: 84%;
  padding: 50px 0;
  /* border: 1px solid black; */
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  gap: 40px;
}
nav ul li {
  list-style: none;
  font-size: 1.125rem;
  font-family: 500;
}
nav h3 {
  font-size: 2.8125rem;
  font-weight: bold;
}

.headline-container {
  max-width: 84%;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid black; */
}
.headline h2 {
  font-size: 4rem;
  font-weight: bold;
}
.headline p {
  font-size: 1rem;
  margin: 2rem 0;
}
.btn {
  border: none;
  padding: 20px;
  background-color: #ff900e;
  font-size: 1.25rem;
  color: white;
  border-radius: 8px;
  margin-bottom: 50px;
}
.banner-image {
  max-width: 100%;
  margin-bottom: 45px;
}
.picture-features {
  max-width: 84%;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid black; */
  gap: 4.26%;
}
.grp-pictures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 85px;
}
.features {
  /* max-height: 100%; */
  max-width: 31.4%;
  /* border: 2px solid red; */
  text-align: left;
  margin: auto 0;
}
.features p {
  font-size: 1rem;
  line-height: 26px;
  margin: 24px 0;
}
.features .grey {
  color: #727272;
  font-weight: 500;
  font-size: 2.82rem;
}
.features .black {
  color: black;
  font-weight: bold;
  font-size: 2.82rem;
}
.features .orange {
  color: #ff900e;
  font-weight: bold;
  font-size: 2.82rem;
}
.grp-pictures img {
  max-width: 100%;
}
.middle-section {
  max-width: 84%;
  margin: 0 auto;
  /* margin-top: 14.3%; */
  margin-top: 130px;
  justify-content: space-between;
}
.love-enjoy h2 {
  font-size: 3rem;
  font-weight: bold;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}
.love-enjoy {
  padding-top: 39px;
  max-width: 34.27%;
  /* border: 1px solid black; */
}
.love-enjoy > p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #727272;
}
.card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.card p {
  color: #727272;
}
.card {
  padding: 30px 42px 30px 30px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}

/* screen breack point */
@media screen and (max-width: 764px) {
  nav ul {
    flex-direction: column;
    gap: 5px;
  }
  nav {
    padding: 15px 8px;
  }
  nav h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  .grp-pictures {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    max-width: 100%;
    margin: 0 auto;
  }
  .picture-features {
    flex-direction: column;
    max-width: 84%;
    margin: 0 auto;
  }
  .features {
    max-width: 84%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    /* border: 1px solid black; */
  }
  .middle-section {
    flex-direction: column;
  }
  .card {
    max-width: 100%;
  }
  .love-enjoy {
    /* border: 1px solid black; */
    max-width: 84%;
    margin: 0 auto;
  }
  .middle-image img {
    max-width: 100%;
  }
}
